{{#each (upto 1 @maxRating) as |number|}}
  <span
    class="rating-star"
    role="button"
    onclick={{action @onClick number}}
  >
    {{#if (gte @rating number)}}
      {{fa-icon "star"}}
    {{else}}
      {{fa-icon "star-o"}}
    {{/if}}
  </span>
{{/each}}
