{{#each stars as |star|}}
  <span
    class="rating-star"
    role="button"
    onclick={{action (or @onClick "noOp") star.rating}}
  >
    {{#if star.isFull}}
      {{fa-icon "star"}}
    {{else}}
      {{fa-icon "star-o"}}
    {{/if}}
  </span>
{{/each}}