<div class="slide-container">
  <h1 class="mb-4">Clarity in templates</h1>
  <p class="mb-4">Where do expressions in templates come from?</p>
  <CodeSnippet @name="clear-template.hbs" class="mb-2" />

  <p class="mb-8 note">
    Example taken from
    <a href="https://github.com/travis-ci/travis-web/blob/master/app/templates/components/org-item.hbs">Travis CI's org-item component</a>
    and rewritten (w/o any checks)

  </p>

  <p class="mb-4 font-semibold">Expressions can be:</p>
  <ul class="ml-4">
    <li class="mb-2">If they have a <span class="highlighted-text">@</span> sigil: Component arguments</li>
    <li class="mb-2">If they are prefixed with <span class="highlighted-text">this</span>: Component properties</li> {{!-- Use this.property --}}
    <li class="mb-2">Block variables: easy to parse because of proximity</li> {{!-- Definition is probably close enough to the place where you use it --}}
    <li class="mb-2">Components defined elsewhere</li> {{!-- Use template imports --}}
    <li class="mb-2">Template helpers</li> {{!-- Whatever is left --}}
  </ul>
</div>