<div class="slide-container">
  <ol class="text-xl">
    <li class="mb-8 ">
      {{#link-to "presentation.confusion" class="menu-link"}}
        Obscurity in templates
      {{/link-to}}
    </li>
    <li class="mb-8">
      {{#link-to "presentation.clarity" class="menu-link"}}
        Let there be light!
      {{/link-to}}
    </li>
  </ol>
</div>