// BEGIN-SNIPPET sparkles-rating
{{#each this.stars as |star|}}
  <span
    class="rating-star"
    role="button"
    onclick={{action @onClick star.rating}}
  >
    {{#if star.isFull}}
      <i class="fas fa-star"></i>
    {{else}}
      <i class="far fa-star"></i>
    {{/if}}
  </span>
{{/each}}
// END-SNIPPET

// BEGIN-SNIPPET sparkles-rating-call
<SparklesRating
  @rating={{model.rating}}
  @onClick={{action (mut model.rating)}}
/>
// END-SNIPPET