<div class="w-full bg-purple-lightest">
  <div class="text-center py-4">
    <h1>
      <i class="fas fa-ice-cream text-indigo-dark"></i>
      <i class="fas fa-ice-cream text-yellow-dark"></i>
      {{link-to "Component Flavors" "index" class="no-underline text-grey-darkest"}}
      <i class="fas fa-ice-cream text-green"></i>
      <i class="fas fa-ice-cream text-red-dark"></i>
    </h1>
  </div>
  <nav
    class="flex items-center h-4 m-0 mb-4 p-8 h-12 text-blue text-lg font-sans shadow-md z-10"
    role="navigation"
  >
    <NavItem @route="classic" @label="Classic" />
    <NavItem @route="named-arguments" @label="Named args" />
    <NavItem @route="template-only" @label="Template-only" />
    <NavItem @route="angle-bracket" @label="Angle-bracket" />
    <NavItem @route="sparkles" @label="Sparkles" />
  </nav>
</div>
<div class="mx-auto px-8">
  {{outlet}}
</div>