<div class="w-full bg-purple-lightest">
  <div class="text-center py-4">
    <h1>Component Flavors</h1>
  </div>
  <nav
    class="flex items-center h-4 m-0 mb-4 p-8 h-12 text-blue text-lg font-sans shadow-md z-10"
    role="navigation"
  >
    <NavItem @route="star-rating" @label="Classic" />
    <NavItem @route="template-only" @label="Template-only" />
  </nav>
</div>
<div class="mx-auto px-8">
  {{outlet}}
</div>