<h1 class="mb-4">Classic Components</h1>
<div class="mb-8 p-4 bg-blue-lightest w-1/4">
  <label class="font-bold">Variant:</label>
  <span class="font-mono ml-4">Component Manager + Invocation Style</span>
</div>

<h2 class="mb-4">Code</h2>
<CodePanel
  @blocks={{array
    (hash id="component" label="Component" snippet="star-rating.js")
    (hash id="template" label="Template" snippet="star-rating.hbs")
    (hash id="call" label="Call" snippet="star-rating-call.hbs")
    (hash id="html" label="HTML" snippet="star-rating-classic.html")
  }}
/>

<h2 class="mb-4">Result</h2>
{{star-rating
  rating=this.model.rating
  onClick=(action (mut this.model.rating)
)}}

<h2 class="mt-8 mb-4">Features</h2>
<div class="flex flex-row space-around text-white text-3xl">
  <FeatureCard
    @title="Available"
    @text="Since the beginning of time"
    class="bg-teal-dark mr-4"
  />
  <FeatureCard
    @title="HTML Semantics"
    @text="Inner"
    class="bg-purple-dark mr-4"
  />
  <FeatureCard
    @title="Splattributes"
    @text="No"
    class="bg-orange-dark mr-4"
  />
  <FeatureCard
    @title="Coolness factor"
    @text="0"
    class="bg-red-dark"
  />
</div>
{{!-- }}
<div class="w-1/3 mx-auto border-2 p-4 text-white bg-teal-dark">
  <h4 class="text-center pb-4">Classic components</h4>
  <dl>
    <dt class="font-semibold">Available</dt>
    <dd class="mb-4">Since the beginning of time</dd>
    <dt class="font-semibold">HTML Semantics</dt>
    <dd class="mb-4">Inner</dd>
  </dl>
</div>
--}}