<h1>Definitions</h1>
<dl class="mt-8">
  <dt class="mb-1 font-semibold">HTML Semantics</dt>
  <dd class="mb-8">Determines whether the component's template is the inner or outer HTML of the rendered element</dd>

  <dt class="mb-1 font-semibold">Splattributes</dt>
  <dd class="mb-8">The ability to pass <i>HTML</i> attributes to a component call and have it applied to an element in the component's template</dd>
</dl>