<h1 class="mb-4">Named arguments</h1>
<div class="flex flex-row flex-wrap mb-8">
  <FeatureTab
    class="bg-blue-light"
    @label="Variant"
    @text="Template Argument" />
  <FeatureTab
    class="bg-teal-light"
    @label="Available"
    @text=">= 3.1" />
  <FeatureTab
    class="bg-red-light"
    @label="Coolness Factor"
    @text="" />
</div>

<h2 class="mb-4">Code</h2>
<CodePanel
  @blocks={{array
    (hash id="component" label="Component" snippet="star-rating.js")
    (hash id="template" label="Template" snippet="star-rating-named-args.hbs")
    (hash id="call" label="Call" snippet="star-rating-call.hbs")
    (hash id="html" label="HTML" snippet="star-rating-classic.html")
  }}
/>

<h2 class="mb-4">Result</h2>
{{star-rating-named-args
  rating=this.model.rating
  maxRating=5
  onClick=(action (mut this.model.rating))
}}

<h3 class="mt-8 mb-2">Default values for arguments</h3>
<CodeSnippet @name="star-rating-named-args-call-with-default-arg-value.hbs" class="mb-2" />
<CodeSnippet @name="star-rating-named-args-with-default-arg-value.hbs" class="mb-2" />
{{star-rating rating=this.model.rating}}
