<h1 class="mb-4">Named arguments</h1>
<div class="mb-8 p-4 bg-blue-lightest w-1/4">
  <label class="font-bold">Variant:</label>
  <span class="font-mono ml-4">Template Argument</span>
</div>

<h2 class="mb-4">Code</h2>
<CodePanel
  @blocks={{array
    (hash id="component" label="Component" snippet="star-rating.js")
    (hash id="template" label="Template" snippet="star-rating-named-args.hbs")
    (hash id="call" label="Call" snippet="star-rating-call.hbs")
    (hash id="html" label="HTML" snippet="star-rating-classic.html")
  }}
/>

<h2 class="mb-4">Result</h2>
{{star-rating-named-args
  rating=this.model.rating
  maxRating=5
  onClick=(action (mut this.model.rating))
}}