<h1 class="mb-4">Template-only Components</h1>
<div class="flex flex-row flex-wrap mb-8">
  <FeatureTab
    class="bg-blue-light"
    @label="Variant"
    @text="Component Manager" />
  <FeatureTab
    class="bg-teal-light"
    @label="Available"
    @text=">= 3.1" />
  <FeatureTab
    class="bg-purple-light"
    @label="HTML Semantics"
    @text="Outer" />
  <FeatureTab
    class="bg-orange-light"
    @label="Splattributes"
    @text="Yes" />
  <FeatureTab
    class="bg-red-light"
    @label="Coolness Factor"
    @text="" />
</div>
<h2 class="mb-4">Code</h2>
<CodePanel
  @blocks={{array
    (hash id="template" label="Template" snippet="star-rating-to.hbs")
    (hash id="call" label="Call" snippet="star-rating-to-call.hbs")
    (hash id="opt-features" label="optional-features.json" snippet="optional-features.js")
    (hash id="html" label="HTML" snippet="star-rating-to.html")
  }}
/>

<h2 class="mb-4">Result</h2>
{{star-rating-to
  rating=this.model.rating
  maxRating=5
  onClick=(action (mut this.model.rating))
}}

<h3 class="mt-8 mb-2">Default values for arguments</h3>
<CodeSnippet @name="star-rating-to-call-with-default-arg-value.hbs" class="mb-2" />
<CodeSnippet @name="star-rating-to-with-default-arg-value.hbs" class="mb-2" />
{{star-rating-to rating=this.model.rating}}